body {
    background-color: lightgray;
    /* color: white; */
}

h2 {
    margin: 0;
    padding: 0;
}


.grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-container {
    display: flex;
    justify-content: center;
}

.grid-form {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 4px 1px rgb(156, 156, 156);
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
}

.grid-row input {
    width: auto;
    padding: 10px 14px;
    border-radius: 5px;
    border: 1px solid grey;
}

.grid-row label {
    display: block;
    font-size: 0.8rem;
    color: rgb(65, 65, 65);
}

legend {
    font-size: 0.8rem;
    color: rgb(65, 65, 65);
}

.fieldset label, .fieldset input {
    display: inline;
}

input:focus {
    border: 1px solid blue;
}


.library-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    margin: 0;

}

.book-card {
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 1fr;
    /* border: 1px solid blue; */
    box-shadow: 1px 1px 4px 1px rgb(156, 156, 156);
    border-radius: 5px;
    width: 40%;
    gap: 5px 20px;
    padding: 20px;
}

.book-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
    /* border: 1px solid red; */
}



.book-info {
    color: grey;
}